/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 de mar. de 2021, 17:52:58
    Author     : marci
*/


/* Chat Widget starts */
.chats{
    list-style-type: none;
    margin: 0px;
    padding-left:0px;
}

.chats li{
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.chats .by-me img{
    margin-top: 5px;
    margin-right:10px;
    padding: 1px;
    background:#fff;
    border: 1px solid #ccc;
}

.chats .by-me .chat-meta{
    font-size: 11px;
    color: #999;
}

.chats .by-me .chat-content{
    margin-left: 60px;
    position: relative; 
    background: #fff; 
    border: 1px solid #ddd;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 13px;
}

.chats .by-me .chat-content:after, .chats .by-me .chat-content:before { 
    right: 100%; 
    border: solid transparent; 
    content: " "; 
    height: 0; 
    width: 0; 
    position: absolute; 
    pointer-events: none; 
} 

.chats .by-me .chat-content:after { 
    border-color: rgba(255, 255, 255, 0); 
    border-right-color: #fff; 
    border-width: 10px; 
    top: 30%; 
    margin-top: -10px; 
} 

.chats .by-me .chat-content:before { 
    border-color: rgba(238, 238, 238, 0); 
    border-right-color: #ccc; 
    border-width: 11px; 
    top: 30%; 
    margin-top: -11px; 
}

.chats .by-other img{
    margin-top: 5px;
    margin-left:10px;
    padding: 1px;
    background:#fff;
    border: 1px solid #ccc;
}

.chats .by-other .chat-meta{
    font-size: 11px;
    color: #999;
}

.chats .by-other .chat-content{
    margin-right: 60px;
    position: relative; 
    background: #fff; 
    border: 1px solid #ddd;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 13px;
}

.chats .by-other .chat-content:after, .chats .by-other .chat-content:before { 
    left: 100%; 
    border: solid transparent; 
    content: " "; 
    height: 0; 
    width: 0; 
    position: absolute; 
    pointer-events: none; 
} 

.chats .by-other .chat-content:after { 
    border-color: rgba(255, 255, 255, 0); 
    border-left-color: #fff; 
    border-width: 10px; 
    top: 30%; 
    margin-top: -10px; 
} 

.chats .by-other .chat-content:before { 
    border-color: rgba(238, 238, 238, 0); 
    border-left-color: #ccc; 
    border-width: 11px; 
    top: 30%; 
    margin-top: -11px; 
}


/* Chat widget ends */

.portlets{
    min-height:50px;
}


.portlets .widget-head{
    cursor:move;
}
