h4 {
    text-align: center;
    padding: .5rem;
    background-color: rgb(212, 234, 255);
    margin: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.divInterna {
    padding: 1rem;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 1rem;
}

.divResponsiva {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.divResponsiva div{
    width: 100%;
}

@media (max-width: 900px) {
    .divResponsiva {
        flex-direction: column ;
    }
} 