/* @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue"); */

:root {
  --header-height: 80px;

  /* colors */
  --lightest-color: #D3F6DA;
  --lighter-color: #7EE591;
  --light-color: #3ACB55;
  --bright-color: #1ebd3b;
  --default-color: #1AB237;
  --shadow-color: #15a630;
  --dark-color: #098421;
  --darker-color: #086B1B;
  --darkest-color: #001A05;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: var(--header-height);
  background-color: var(--default-color);
  display: flex;
  align-items: center;
  padding: .75rem;
  justify-content: space-between;
}

#header h1 {
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
  font-size: 3em;
  margin: 0;
}

.parteLogo {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.parteLogo:hover,
.parteLogo:visited,
.parteLogo:link,
.parteLogo:active {
  text-decoration: none;
}

#logo {
  height: 100%;
}

#parteMenu {
  display: flex;  
  height: 100%;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  align-items: center;
  justify-content: flex-start;
  background-color: var(--shadow-color);
  position: absolute;
  margin-top: var(--header-height);
  right: 0;
  top: 0;
  margin-bottom: 0;
  width: 320px;
}

#parteMenu li {
  display: flex;
  height: 3em;
  width: 100%;
  align-items: center;
  color: white;
  text-align: center;
}   

#parteMenu li a {
  box-shadow: var(--dark-color) 0px 1px 2px inset;
  text-align: center;
  background-color: var(--default-color);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

#parteMenu li a:hover {
  background-color: var(--bright-color);
}

.menuIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: .5rem;
  width: 1.5rem;
}

#wrapperGeral {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: calc(var(--header-height));
}

#wrapperGeral.menuPadding{
  padding-right: 320px;
}

#content {
  padding: 1rem;
}

#orientacoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 1em;
}

#orientacoes h3,
#orientacoes h5 {
  font-weight: bold;
}

.hidden {
  display: none;
}

.parteBotao {
  height: 100%;
}

#botaoMenu {
  /* margin: 1em; */
  background-color: transparent;
  border: none;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: all .15s;
}

#botaoMenu:active {
  /* margin: 1em; */
  background-color: #35a856;
}

#botaoMenu img{
  height: 100%;
}

@media (max-width: 768px) {
  #header {
    height: var(--header-height);
  }

  #wrapperGeral.menuPadding{
    padding-right: 0;
  }

  #logo {
    height: 80%;
  }

  #parteMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
  }


  #parteMenu li a {
    border-left: none;
    border-top: 1px solid var(--default-color);
  }

  #parteMenu li a:hover {
    background-color: #35a856;
  }


}

.miniatura{
  max-width: 80px;
  border-radius: 10px;
}

.tabelaPadrao {
  width: 100%;
  margin-bottom: 1rem;
}

.tabelaPadrao * th {
  border: none;
  text-align: center;
  background-color: var(--default-color);
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 0.2em 0.5em;
}

.tabelaPadrao * td {
  border: none;
  text-align: center;
  color: black;
  background-color: transparent;
  font-size: 20px;
  padding: 0.25rem 1rem;
}

.tabelaPadrao * tr {
  background-color: white;
}

.tabelaPadrao * tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabelaPadrao * td:last-child {
  word-wrap: break-word;
  width: 10em;
}

.tabelaPadrao * td:last-child {
  word-wrap: break-word;
  width: 30em;
}

footer {
  padding: 1rem;
}