.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.login h3 {
    text-align: center;
    padding: .2rem;
}

.login input.text {
    max-width: calc(100vw - 2em);
    width: 27rem;
    line-height: 1rem;
    padding-top: .5rem; 
    padding-bottom: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    border-radius: 3px;
    border: solid 1px #999;
}

.login input.text:focus {
    outline: none;
    box-shadow:0 0 0 1px #fff,0 0 0 3px #428fdc;
}

.login label {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.login .btn {
    max-width: calc(100vw - 2em);
    width: 7rem;
    font-weight: bold;
    margin: 0;
    margin-top: 1rem;
}


#message {
    max-width: calc(100vw - 2em);
    width: 27rem;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 3px;
    border: 2px solid rgb(255, 164, 164);
    background-color: rgb(255, 246, 246);
    color: #b02020;
    padding: 1rem 2rem;
;
    margin-top: 2rem;
}

#message svg{
    margin-right: .2rem;
    transform: translateY(1px);
}

footer {
    margin-top: 1rem;
}