.btn {
    margin: .25rem;
    width: 4.5rem;
}

.badge {
    padding:  .3rem .5rem ;
    font-size: .8em;
}

table * td {
    padding: 0 !important;
}

.btnSair, .btnEntrar, .btnSaidaDefinitiva{
    min-width: 90%;
    margin-bottom: 12px;
    padding: 13px;
    font-weight: bold;
}