/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 12, 2019, 8:19:35 AM
    Author     : marcio
*/

* {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    font-family: Times;
    font-size: 9pt;
}

@page {
    margin: 1cm;
    margin-top: 2cm;
}

#header{
    position: relative;
}

table {
    width: 100%;
}
td{
    font-size: 8pt;
}

a[href]:after {
    content: none !important;
}

.wrapper{
    display: block !important;
}

nav, header, aside, footer, video, audio, object, embed, .no-print { 
    display: none; 
}

pre{
    font-family: Times;
}

.quebrapagina {
   page-break-before: always;
}