<button class="btn btn-primary addRegistroTipo" 
        data-help="Esse registro aparece apenas para equipe de enfermeiros e médicos" 
        data-tipo="17" 
        data-id="{$abrigado->getId()}"
    > Registro Enfermaria </button>
<hr />
<button class="btn btn-secondary addRegistroTipo" 
        data-id="{$abrigado->getId()}"
        data-tipo="18" 
    > + Comorbidade </button>
<button class="btn btn-secondary addRegistroTipo" 
        data-tipo="19" 
        data-id="{$abrigado->getId()}"
    > + Alergia </button>
<button class="btn btn-secondary addRegistroTipo" 
    data-id="{$abrigado->getId()}"
    data-tipo="16" 

    > + MUC </button>


<hr />
<button class="btn btn-terciary addRegistro" data-id="{$abrigado->getId()}"> Add Registro Geral </button>
