{*Gerado automaticamente com GC - 2.0.0 29/08/2023*}
<fieldset class="formPadrao">
    <legend>Situação</legend>
             <input type="hidden" id="id" name="id" class=" form-control" required  value="{$situacao->getId()}" />
        <div class="form-group">
            <label class="control-label col-sm-2" for="situacao">Situação</label>
            <div class="col-sm-8">
                 <input type="text" id="situacao" name="situacao" class=" form-control"  value="{$situacao->getSituacao()}" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="cor">Cor</label>
            <div class="col-sm-8">
                 <input type="text" id="cor" name="cor" class=" form-control"  value="{$situacao->getCor()}" />
            </div>
        </div>
</fieldset>

