<div id="chat" class="container">
<div class="padd sscroll">
    <h2>Chat with text</h2>
    <ul class="chats">
    </ul>     
</div>  
   <!-- Widget footer -->
<div class="widget-foot">
<form id="chatSend" method="post" action="#">
<div class="row">
    <div class="col-10">
        <input type="text" id="chatPrompt" class="form-control"
            placeholder="Digite sua mensagem aqui..." required>
    </div>
    <div class="col-2">
        <button type="submit" class="btn btn-success">Send <i class="far fa-paper-plane"></i></button>
    </div>
</div>
</form>
</div> 
</div>