</div>
<footer class="text-right" style="margin-top:5px">
    Desenvolvido por voluntários do Abrigo IFRS Canoas. Colabore em 
    <a href="https://gitlab.com/ifcanoas/alojaif" target="_blank">https://gitlab.com/ifcanoas/alojaif</a>
</footer>