<h2>Verifique </h2>
<ol>
    <li> Recolha as pulseiras</li>
    <li> Solicite a um voluntário volante o recolhimento do colchão </li>
    <li> Solicite kits de doações (comida, roupas e produtos de limpeza) </li>
</ol>
